/*links externos*/

/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



/*reset y background*/

*{  
    box-sizing: border-box;
    margin:0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    
  }



/*estilos del header*/



header {
    background-color: #144272;
    height: 4.3rem;
}
.navbar1 {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center

}
.nav-links ul{
    margin: 1.1rem auto;
    display: flex;
    flex-direction: row;
}

.nav-links a{
    margin: 0 1rem;
    font-family: "lato";
    color: white;
}

.nav-links a:hover{
    text-shadow: 0 0 5px whitesmoke;
    
}



 #logo1 {
    display: inline-block;
    margin: 0 1rem;
    font-family: "lato";
    font-size: 2rem;
    color: white;
    
}
#logo1:hover{
    text-shadow: 0 0 5px whitesmoke;
}


/*estilos de home*/

.main-index-container {
    
    margin: auto;
    max-width: 1500px;
    display: grid;
    grid-template-areas: 
    "main-image"
    "main-texto"
    "index-card-container";
    

}   

.main-image-container {
    grid-area: main-image;
    margin: 3rem auto auto auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
}


.texto-mejores-libros{
    margin-top: 1rem;
    grid-area: main-texto;
    text-align: center;
    
}

    
    
.index-card-container {
    grid-area: index-card-container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    text-align: center;
    gap: 1rem;

}   

.index-card {
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.titulo-card {
    
    font-family: "lato";
    font-size: 1.3rem;
    color: black
}

.parrafo-card {
    margin-top: 1rem;
    font-family: "lato";
    font-size: 1rem;
    color: black;

}
    


.texto-mejores-libros h1{
    font-family: "Lato";
    font-style: italic;
    font-size: 2rem;
    color: #144272;
    padding: 1rem;
    
}



/*estilos de bestsellers*/

.titulo-bestsellers {
    margin-top: 1rem;
    text-align: center;
    font-family: "Lato";
    font-style: italic;
    font-size: 2rem;
    color: #144272;
    padding: 1rem;
}

.bestsellers-container {
    margin: 3rem auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    
}


.card-bestsellers {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}



.img-bestsellers {
    display: inline-block;
    padding: 1.5rem;
}

.card-bestsellers-titulo-y-parrafo h2 {
    margin: 1.5rem  ;
    font-family: "lato";
    font-style: italic;
}

.card-bestsellers-titulo-y-parrafo p {
    margin: 1.5rem;
    font-family: "lato", sans-serif ;
}





/* estilos de audilibros*/

.titulo-audiolibros {
    margin-top: 1rem;
    text-align: center;
    font-family: "Lato";
    font-style: italic;
    font-size: 2rem;
    color: #144272;
    padding: 1rem;
}
main {
    align-items: center;
}
.audiolibros-container{
    margin: 3rem auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 1fr);
    
    gap: 2rem;
}

.card-audiolibros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
    
 

}

.card-audiolibros iframe {
    margin: 1.5rem;
}

.card-audiolibros-titulo-y-parrafo h2 {
    margin: 1.5rem  ;
    font-family: "lato";
    font-style: italic;
}

.card-audiolibros-titulo-y-parrafo p {
    margin: 1.5rem;
    font-family: "lato", sans-serif ;
}
/*estilos de comunidad*/

.comunidad-card-container {
    max-width: 1300px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(3 1fr);
    gap: 2rem;
}

.titulo-comunidad {
    margin-top: 1rem;
    text-align: center;
    font-family: "Lato";
    font-style: italic;
    font-size: 2rem;
    color: #144272;
    padding: 1rem;
}

.comunidad-card {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    

}

.img-card-comunidad{
    margin: 1.5rem ;
    height: auto;
}

.comunidad-card p {
    margin: 1rem 1.5rem 1.5rem 0;
    font-family: "lato", sans-serif ;
    font-size: 1rem;
    color: black;
}

.comunidad-card h3 {
    margin: 1.5rem 1.5rem 1rem 0  ;
    font-family: "lato";
    font-style: italic;
    color: black;
}

/*estilos de about*/

.container-about {
    
    max-width: 1100px;
    margin: 5rem auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.content-about {
    margin: 1rem auto;
    padding: 2rem 1rem;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-about p {
    margin-left: 2rem;
    text-align: justify;
    font-family: "lato";
    
}

.titulo-about {
    margin-top: 1rem;
    text-align: center;
    font-family: "Lato";
    font-style: italic;
    font-size: 1.7rem;
    color: #144272;
    padding: 1rem;

}

/* estilos del footer*/

footer {


display: flex;
margin: auto;
padding: auto;

}

.pie{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about {
    font-family: "lato", sans-serif;
    font-size: 1.5rem;
    color: #144272;
    

}
.about:hover{
    font-size: 1.7rem;
    transition: 0.2s; 
}

.social-links a{
    display: inline-block;
    margin: 0.5rem;
}
#instagram :hover { 
    transform: scale(1.1);
}
#facebook :hover { 
    transform: scale(1.1);
}
#twitter :hover { 
    transform: scale(1.1);
}

/* estilos boton siguiente */

.btn-container{
    display: flex;
}
.btn {
    display: inline-block;
    background-color: #144272;
    font-family: "Lato" , sans-serif;
    font-size: 1.3rem;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: whitesmoke;

}
.btn:hover {
    transform: scale(1.1);
    transition: 0.1s;
}


/*pantalla de 600px o menos en navbar*/ 

@media screen and (max-width:600px){


    /*estilos del header*/

    header  {
        height: 6.5rem;
    }



    .navbar1 {
        height: 6.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #logo1 {
    
        display: inline-block;
        margin-top: .5rem;
        
        
        
    }  
    
    /*bestsellers en pantallas de 600px o menos*/
    
    
    
    
    main .bestsellers-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
        .card-bestsellers {
            margin: 0 4rem;

    
        }
    
    
    
        .card-bestsellers-titulo-y-parrafo p, h2{
            display: none;
        }


    /*audiolibros en pantalla sde 600px o menos*/    

        .audiolibros-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .card-audiolibros-titulo-y-parrafo{
            display: none;
        }

        .card-audiolibros iframe {
            display: inline-block;
            width: 400px;
            margin: 1.5rem;  
            
        
        }
        .card-audiolibros {
            display: flex;
            align-items: center;
            margin: 0 .4rem;
        }

        
        }