@import "components/icons";

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: $color-principal;
  transition: 0.3s;
  @include tablet {
    padding: 10px 20px;
  }
  .logo1 a {
    margin-left: 4rem;
    color: whitesmoke;
    display: block;
    font-family: "lato";
    font-size: 2rem;
    @include hover-1;
  }
  .navbar1 {
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input:checked ~ .menu1 {
      top: 0px;
      transition: 0.3s;
    }
    .menu1 {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      z-index: 1;

      @include tablet {
        z-index: 1;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: -600px;
        right: 0px;
        background: $color-principal;
        width: 100%;
        height: auto;
        padding-top: 65px;
      }

      li {
        @include tablet {
          width: 100%;
          text-align: center;
        }

        a {
          display: block;
          font-family: "lato";
          font-size: 1.3rem;
          color: whitesmoke !important;
          padding: 25px;
          @include hover-1;

          @include mobile {
            padding: 30px;
            font-size: 24px;
          }
        }
      }
    }
  }
  .hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
  }
  .hamburger:before,
  .hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
  }
  .hamburger:before {
    top: -10px;
    width: 20px;
  }
  .hamburger:after {
    top: 10px;
    width: 25px;
  }
  .toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    transition: 0.5;
  }
  .hamburger,
  .toggle-menu {
    display: none;
  }
  input:checked ~ .hamburger {
    background: transparent;
  }
  input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
  }
  input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
  }

  .hamburger,
  .toggle-menu {
    @include tablet {
      display: block;
    }
  }
}
