
@import "../utilities/media-queries";

/* estilos de audilibros*/
.titulo-audiolibros {
  margin: 2rem auto;
  text-align: center;
  font-family: "Lato";
  font-style: italic;
  font-size: 2rem;
  color: #144272;
  @include mobile {
    font-size: 1.6em;
  }
}

.audiolibros-container {
  margin: 3rem auto;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4 1fr);
  gap: 2rem;
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
  }
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-audiolibros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
    @extend .card;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 1.5rem;
    }
    @include mobile {
      display: flex;
      align-items: center;
      margin: 0 1.5rem;
    }
    iframe {
      margin: 1.5rem;
      @include mobile {
        display: inline-block;
        width: 400px;
        margin: 1rem;
      }
    }
    .card-audiolibros-titulo-y-parrafo {
      
      h2 {
        margin: 1.5rem;
        font-family: "lato";
        font-style: italic;
        
       
      }
      p {
        margin: 1.5rem;
        font-family: "lato", sans-serif;
        @include mobile {
            display: none;
          }
      }
    }
  }
}
