@import "../utilities/media-queries";

/*estilos de comunidad*/
.main-comunidad {
  padding: 1.5rem;
  max-width: 1300px;
  margin: 0 auto;
  .titulo-comunidad {
    margin-top: 1rem;
    text-align: center;
    font-family: "Lato";
    font-style: italic;
    font-size: 2rem;
    color: #144272;
    padding: 1rem;
    @include mobile {
      font-size: 1.6em;
    }
  }
  .comunidad-card-container {
    max-width: 1300px;
    margin: 2rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3 1fr);
    gap: 2rem;
    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .comunidad-card {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
      min-height: 20rem;
      @extend .card;
      @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 33rem;
        @include mobile {
          display: flex;
          flex-direction: column;
          margin: 0 1.5rem;
          min-height: 100%;
        }
      }
      .img-card-comunidad {
        margin: 1.5rem 0rem 1.5rem 1.5rem;
        height: auto;
        @include tablet {
          margin: 2rem auto;
        }

        @include mobile {
          display: flex;
          flex-direction: column;
          margin: 1.2rem;
        }
      }
      h3 {
        margin: 1.5rem 1.5rem 1rem 0;
        font-family: "lato";
        font-style: italic;
        color: black;
        @include tablet {
          text-align: center;
          margin: auto;
        }
        @include mobile {
          margin: auto;
          position: start;
          text-align: center;
        }
      }
      p {
        margin: 1rem 1.5rem 1.5rem 0;
        font-family: "lato", sans-serif;
        font-size: 1rem;
        color: black;
        @include mobile {
          display: none;
        }
      }
    }
  }
}
