/*imports*/
@import "../components/card";
/*estilos de home*/
.main-index-container {
  margin: auto;
  max-width: 1500px;
  display: grid;
  grid-template-areas:
    "main-image"
    "main-texto"
    "index-card-container";
  .main-image-container {
    grid-area: main-image;
    margin: 2.5rem auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .carousel-control-prev {
      z-index: 0;
    }
    .carousel-control-next {
      z-index: 0;
    }
    @include tablet {
      display: none;
    }
  }
  .texto-mejores-libros {
    grid-area: main-texto;
    text-align: center;
    h1 {
      font-family: "Lato";
      font-style: italic;
      font-size: 2rem;
      color: #144272;
      margin: 1rem;
      @include mobile{
        font-size: 1.6em;
      }
    }
  }
  .index-card-container {
    grid-area: index-card-container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    margin: 1.5rem auto;
    text-align: center;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 1.5rem;
    }

    @include mobile {
      margin: 0 1.5rem;
    }
  }
  .index-card {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    @extend .card;
    @include mobile {
     height: 16rem;
     width: 12rem;   
     display: flex;
     flex-direction: column;
     align-items: center;
    }
  }
  .parrafo-card {
    margin-top: 1rem;
    font-family: "lato";
    font-size: 1rem;
    text-align: center;
    line-height: 100%;
    color: black;
    @include mobile{
        display: none;
    }
  }
  .titulo-card {
    font-family: "lato";
    font-size: 1.3rem;
    color: black;
    @include mobile{
        font-size: 1.2em;
    }
  }
}
